@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my website!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>lorem ipsum</p>
    <h2>Thank you for your support . . . </h2>
    <h3 style="color:darkcyan">I will be advertising and endorising products I believe and trust the manufacturers of, from their 
    no animal cruelty values or ECT BLAH BLAH</h3>
    <ol>
        <li style="font-size:30px">STEP 1: Click on active sponsorships!</li>
        <li style="font-size:30px">STEP 2: Research my active sponsorships!</li>
        <li style="font-size:30px">STEP 3: If you like a product, click the "Buy Me" button! (But keep your tab open, as you will need to enter the referall code!)</li>
        <li style="font-size:30px">STEP 4: Checkout product, Use my Promo Codes to get HUGE SAVINGS!</li>
        <li style="font-size:30px">STEP 5: Share my website so more people can Save $$$!</li>
        
    </ol>
</div>
